<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label>
    Username:&nbsp;
    <input type="text" formControlName="username" />
  </label>
  <fieldset formGroupName="credentials">
    <legend>Credentials:</legend>
    <label>
      Email:&nbsp;
      <input type="email" formControlName="email" />
    </label>
    <label>
      Password:&nbsp;
      <input type="text" formControlName="password" />
    </label>
  </fieldset>
  <fieldset formGroupName="address">
    <legend>Address:</legend>
    <label>
      Street:&nbsp;
      <input type="text" formControlName="street" />
    </label>
    <label>
      Postal Code:&nbsp;
      <input type="text" formControlName="zipCode" />
    </label>
    <label>
      City:&nbsp;
      <input type="text" formControlName="city" />
    </label>
  </fieldset>
  <button type="submit" [disabled]="!userForm.valid">Register</button>
</form>

<div>
  <pre>{{ user | json }}</pre>
</div>
